<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <link rel="stylesheet" href="/static/css/reset.css">
    <title>Document</title>
</head>
<body>
    <main>
        <div class="top-stripe"></div>
        <div class="central-box p-5">
            <h3 class="mb-4">Create a new password</h3>

            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                        <p class="text-primary">{{ message }}</p>
                    {% endfor %}
                {% endif %}
            {% endwith %}

            <p>Please enter your email and your new password here</p>
    
            <form action="{{ url_for('update_user', token=token) }}" method="POST" class="mt-4">
                <div>
                    <input type="email" class="form-control mb-3" id="emailInput" name="email_input" placeholder="Email">
                    <input type="text" class="form-control" id="newPassInput" name="new_pass_input" placeholder="New password">
                </div>
                <button class="w-100 btn btn-primary mt-3" type="submit">Save</button>

                <p class="text-secondary text-center small mt-3">Need a new link?
                    <a href="{{ url_for('reset_password') }}" target="_blank">Click here</a>
                </p>
            </form>
            
    
        </div>
    </main>
    
</body>

</html>